@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500&family=Poppins:wght@300;400&family=Quicksand:wght@400;500&family=Varela+Round&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.App{
	background-color: #eef2f8;
	background-size: cover;
	background-attachment: fixed;
	
}
table,tr,td{
	border: 1px solid rgb(195, 195, 195);
	border-collapse: collapse;
	padding: 5px;
}
th{
	border: 1px solid rgb(195, 195, 195);
	background-color: #f4f4f4;
}

::-webkit-scrollbar{
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track{
	background: #ddd;
}
::-webkit-scrollbar-thumb{
	background: #666; 
	border-radius: 20px;
}